:root {
  /* Color palete */
  --background_gray: #f1f2f8;
  --border_gray: #dbe0e7;

  /* Font Palete */
  --font_title: #000;
  --font_subtitle: #525050;
}

* {
  font-family: Kiwi, sans-serif;
  font-size: 14px;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: LexendDeca, sans-serif;
  color: var(--font_title);
  margin-bottom: 10px;
}

h1 {
  font-size: 5em;
}

h2 {
  font-size: 4.5em;
}

p {
  font-size: 1.5em;
  margin-bottom: 7px;
}

textarea {
  padding: 1em;
}
